################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.exe.config
*.pdb
*.user
.svn/
.vs/
bin/*.xml
obj/
MigrationBackup/
packages/
unpublished.*
/App.config
/lib/ki/
/lib/oscalib/

