################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.exe.config
*.pdb
*.user
.svn/
.vs/
bin/*.xml
MigrationBackup/
packages/
obj/
/App.config
/lib/ki/
/lib/oscalib/
/bin/Debug/config/Sensitive/*.config
